.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  min-height: 100vh;
  background-color: whitesmoke;
  /* background-image: url('/ocean.jpeg'); */
  background-size: cover;
}

.sliderGrid {
  display: grid;
  grid-template-columns: repeat(5, minmax(5%, auto));
  gap: 3vw;
  max-width: 100%;
  padding-bottom: 2vh;
  width: var(--max-width);
}

.maze {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 80%;
  padding: 3px;
  border-radius: 1%;
}